.header-animation {
  width: 550.76px;
  position: relative;

  svg {
    width: 100%;
    z-index: 5;
    position: relative;
  }
}


.about-animation {
  width: 884px;
  position: relative;

  svg {
    width: 100%;
  }
}

.ai-animation {
  width: 200px;
  position: relative;

  svg {
    width: 100%;
  }
}

.big-data-animation {
  width: 212px;
  position: relative;

  svg {
    width: 100%;
  }
}

.cloud-computing-animation {
  width: 147px;
  position: relative;

  svg {
    width: 100%;
  }
}

.cyber-security-animation {
  width: 198px;
  position: relative;

  svg {
    width: 100%;
  }
}

.enterprise-collab-animation {
  width: 179px;
  position: relative;

  svg {
    width: 100%;
  }
}

.enterprise-product-animation {
  width: 229px;
  position: relative;

  svg {
    width: 100%;
  }
}

.policy-management-animation {
  width: 215px;
  position: relative;

  svg {
    width: 100%;
  }
}

.technology-animation {
  width: 300px;
  position: relative;

  svg {
    width: 100%;
  }
}
